sphinx>=5
pydata-sphinx-theme>=0.13.0
numpydoc
myst-parser>=0.18.0
myst-nb
sphinx-notfound-page
sphinx-copybutton
sphinx-design
sphinx-codeautolink>=0.9.0
jupyter-sphinx
ipython
pickleshare
pydocstyle
bokeh>=3
contourpy
